* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAV BAR CSS  */
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

/* CSS for the Nav BAr */
.App {
  text-align: center;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
}

nav * {
  box-sizing: content-box;
}

.Nav-Container {
  display: flex;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
  background-color: #4a9ec2d6;
  color: hsl(255, 100%, 100%);
  font-size: 2vmin;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-bottom: 20px;
}

.nav-title {
  position: relative;
  left: 10vw;
  font-weight: bold;
  font-size: calc(10px + 2.5vmin);
}

.active {
  background-color: hsl(89, 59%, 30%);
  box-shadow: 5px 5px 5px 5px hsl(27, 58%, 0%);
}

#Nav1 {
  flex: 0 1 35vw;
  display: flex;
  align-items: center;
  text-decoration: none;
}

#Nav1 a {
  text-decoration: inherit;
  color: inherit;
  font-size: calc(5px + 4vmin);
}

#Nav1 .active {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}

.logo-image {
  position: absolute;
  top: 0px;
  height: 12vh;
  width: 9vw;
  margin-top: -0.7vh;
}

#Nav1:hover {
  color: (27, 34%, 60%);
}

#Nav3 {
  width: 15vw;
}

#Nav4 {
  flex: 0 0 5vw;
  overflow: hidden;
  margin-right: 0.5em;
}

#Nav4 a {
  color: inherit;
  text-decoration: inherit;
}

#Nav4:hover {
  color: hsl(30, 34%, 60%);
}

.Page-Container {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-bottom: 0;
  flex: 0 1 45vw;
}

.Nav-Page {
  display: flex;
  align-items: center;
}

.Nav-Page:hover {
  color: hsl(0, 0, 0, 0.6);
}

.Nav-Page * {
  margin-left: 7px;
  margin-right: 7px;
}

.App-link {
  color: #61dafb;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-left: 20px;
}

.Nav-Page a {
  color: inherit;
  text-decoration: inherit;
}

.Nav-Page a:hover {
  color: rgba(0, 0, 0, 0.685);
}

.dropdown-content {
  display: none;

  position: absolute;
  background-color: #8fd4e7;
  color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.685);
  z-index: 1;
}

.dropdown-content *:hover {
  color: rgba(0, 0, 0, 0.685);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content div {
  border-top: 3px solid #9e724d;
  overflow: hidden;
  width: 10vw;
  margin: 0;
}

.dropdown-content .first-dropdown {
  border-top: 0;
}

.dropdown-content div:hover {
  background-color: #6a8d96;
}

.uploadStatus {
  color: greenyellow;
  font-size: calc(10px + 2vmin);
}

employees upload csv file page .upload-csv {
  color: white;
}

form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

body {
  background-color: #f5f5f5 !important;
}

.Button {
  color: black;
  text-decoration-color: black;
}

.root-login {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: #9AC6DF; */
  opacity: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size-grid-logins {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paper-logins {
  margin: 56px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-logins {
  margin: 0;
}

.form-logins {
  width: 100%;
  margin-top: 8px;
}

.submit {
  margin: 24px 0 16px;
}
footer {
  width: 100%;
  padding: 0.5em;
  background-color: #9AC6DF;
  color: white;
  display: grid;
  place-content: center;
  position: fixed;
  bottom: 0;
}
  .Admin-Container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 1500px; /* adjust as needed */
  
  margin: 0px auto 0;
  
 
  }
  h1 {
   padding: 50px
  }
  
  .Button-Container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 4rem;
  }
  
  .Button-Container a {
    font-size: 2rem;
    padding: 5rem 2rem;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    margin-top: 100px;
    height:  px;
  }
  
  .Button-Container a:hover {
    background-color:#4a9ec2d6;
    color: white;
    transform-style: preserve-3d

    }
    .Button-Container img {
      max-width: 100%;
      height: 100%;
      object-fit:cover;
    }
      nav {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4a9ec2d6;
        color: #fff;
        width: 100vw;
        height: 60px;
        margin-left: 0; /* added to spread out to left side of page */
  margin-right: 0; /* added to spread out to right side of page */
      }
      
      nav h1 {
        margin: 0;
        padding: 0 20px;
      }
      
    
    
  
  

